################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CorePRactice1/.vs/CorePRactice1
/CorePRactice1/CorePRactice1/bin/Debug/netcoreapp3.1
/CorePRactice1/CorePRactice1/obj
/CorePRactice1/CorePRactice1/wwwroot
